* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: rgb(17, 17, 35);
  color: white;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.game {
  width: 100%;
  max-width: 360px;
  background: rgb(34, 34, 72);
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}

h1 {
  font-size: 22px;
  margin-bottom: 8px;
}

p {
  font-size: 14px;
}


input {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#checkBtn {
  background: lawngreen;
  color: black;
}

#resetBtn {
  background: red;
  color: white;
}

#message {
  margin-top: 15px;
  font-weight: bold;
}

.score {
  margin-top: 10px;
  opacity: 0.85;
}

@media (max-width: 360px) {
  h1 {
    font-size: 20px;
  }
}


@media (min-width: 600px) {
  .btns {
    flex-direction: row;
  }

  button {
    flex: 1;
  }
}


@media (min-width: 900px) {
  .game {
    max-width: 400px;
    padding: 30px;
  }

  h1 {
    font-size: 26px;
  }
}