* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #fff;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.game {
  width: 100%;
  max-width: 360px;
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
}

h1 {
  font-size: 22px;
  margin-bottom: 8px;
}

p {
  font-size: 14px;
}


input {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#checkBtn {
  background: #22c55e;
  color: #000;
}

#resetBtn {
  background: #ef4444;
  color: #fff;
}

#message {
  margin-top: 15px;
  font-weight: bold;
}

.score {
  margin-top: 10px;
  opacity: 0.85;
}